@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quintessential&family=Raleway&display=swap");
.logo-img {
  width: 100%;
}

.img-container {
  padding: 20px;
}

.link-btn{
    width: 100%;
}
.url-container{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.profile-url{
    color: black;
    max-width: 100%;
    text-align: center;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.profile-url:hover{
    color: #0D6EFD;
}
